/* for modal2 */

.modal2_get_photo_canva{
    width: 420px;
    height: 169px;
    border-radius: 3px;
    background: #E8F1F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.arrow_left{
    position: absolute;
    top: 26px;
    left: 30px;
    cursor: pointer;
    width: 21px;
    height: 21px;
}
input[type="file"] {/* delete the display */
    display: none;

}
.label_input_photos{  /* get the style  */ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 36px;
    border-radius: 50px;
    background: #CBD6DC;
    color: #306685;
    text-align: center;
    font-family: "Work Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    border: none;
    margin-bottom: 7px;
    cursor: pointer;
  

}






.textOfCanvas{
color: #444;
text-align: center;
font-family: "Work Sans";
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 19px;
}
.imgOfCanvas{
    margin-top: 13px;
    margin-bottom: 6px;

}
.modal2_form{
    display: flex;
    flex-direction: column;
    width: 420px;
    color: #3D3D3D;
    font-family: "Work Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.modal2_form input,
#category {
    height: 51px;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    color: #444;
    font-family: "Work Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.modal2_form label{
    margin-top: 30px;
    margin-bottom: 10px;
}