.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 688px;
    width: 630px;
    border: 1px solid black;
    position: relative;
}

.modal h2 {
    font-size: 26px;
    color: black;
    font-weight: 400;
    font-family: 'Work Sans';
    margin-top: 60px;
    
}

.gallery_photos{
    width: 420px;

}

.modal_button{
    width: 237px;
    height: 36px;
    position: absolute;
    bottom:54px ;
}
.close{
    position: absolute;
    top: 26px;
    right: 30px;
}