/* for modals */

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 688px;
    width: 630px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    background-color: #fff;
    border-radius: 10px;
    z-index: 100;

}

.modal h2 {
    font-size: 26px;
    color: black;
    font-weight: 400;
    font-family: 'Work Sans';
    margin-top: 60px;
    margin-bottom: 55px;    
}

.gallery_photos{
    width: 425px;
    height: 390px;
    overflow-y: scroll;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 4px;
	grid-row-gap: 22px;
    justify-content: center;
    align-items: center;
   
}
.gallery_photos figure {
    width:78px ;
    height: 104px;
    position: relative;/* kk */    
}
.gallery_photos figure > img {
    object-fit: cover;
    width:76px ;
    height: 104px;
}
.gallery_photos figure figcaption{
    display: none;
}

.add_for_modal_button{
    width: 237px;
    height: 36px;
    position: absolute;
    bottom:54px ;    
    color: white;
}
.passive_modal_button{
    background: #A7A7A7;
    border: none;
}
.close{
    position: absolute;
    top: 26px;
    right: 30px;
    cursor: pointer;
    
}
.add_for_modal_button::before{/* line before button */
    content: "";
    display: block;    
    height: 1px;
    width: 420px;
    background: #B3B3B3;
    position: absolute;
    top: -38px;
    transform: translateX(-25%);   
}
.trash{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    background-color: black;
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 3px;
    cursor: pointer;
    
}
.trash_img{
    
    width: 9px;
    height: 11px;
    
    
}
.no_visible{
    visibility: hidden;
}
.cover_page{
    display: block;
	background: rgba(0, 0, 0, 0.4);	
	position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;  
  
    
}

